@charset "UTF-8";

*{
    margin: 0PX;
    padding: 0px;
}
html, body{
    height: 100vh;
    width: 100vw;
}
main{
    height: 100vh;
    position: relative;
}
body{
    background: url('../imagens/fundomadeira.jpg') no-repeat top center;
    background-size: cover;
}
section#telefone{
    height: 500px;
    width: 300px;
    background-color: beige;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
iframe#tela{
    position: relative;
    height: 500px;
}
section#redesocial img{
    width: 50px;
    height: 50px;
    margin: 20px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
}
section#redesocial img:hover{
    text-decoration: underline;
    border: 2px solid rgba(255, 255, 255, 0.525);
    transform: translate(-3px, -3px);
    transition: transform .3s;
}